<header>
  <a routerLink="/" fragment="home" id="title-button">
    <img id="logo" src="favicon.ico" alt="logo">
    <span>Darius Daniel Călugăr</span>
  </a>
  <div class="spacer"></div>
  <nav>
    <ul class="nav-list">
      <li class="nav-button">
        <a class="nav-link" routerLink="/" fragment="projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-button">
        <a class="nav-link" routerLink="/" fragment="competitions" routerLinkActive="active">Competitions</a>
      </li>
      <li class="nav-button">
        <a class="nav-link" routerLink="/" fragment="contact" routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-button">
        <a class="nav-link" href="assets/files/CV.pdf">CV</a>
      </li>
      <li class="nav-button">
        <a class="disabled-nav-link" routerLink="" fragment="" routerLinkActive="active">Posts</a>
      </li>
      <li class="nav-button">
        <a class="disabled-nav-link" routerLink="" fragment="" routerLinkActive="active">Network</a>
      </li>
    </ul>
  </nav>
</header>
