// Colors

$background-color: #eeeeee;
$surface-color: #ffffff;
$content-color: #222222;

$brand-color: #30313d;
$brand-content-color: #ffffff;

$accent-color: #e1863a;
$accent-content-color: #333333;

$gradient-color-1: #d41c5b;
$gradient-color-2: #faa728;

$shadow-color: #000000ff;

// Sizes

$header-height: 72px;
